
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Confirm Email";
}

<h1>Thanks for Confirm Email</h1>
<div class="col-4">
    <span type="button" asp-action= "index" asp-controller="Dashboard" class="btn btn-primary btn-block"> Go to dashboard</span>
</div>



