@model ForgotPasswordModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forgot Password";
}

<div class="card">
    <div class="card-body login-card-body">
         <h1 class="auth-title">Forgot Password</h1>
         <p class="auth-subtitle mb-5">Input your email and we will send you reset password link.</p>

        <form asp-action="ForgotPassword" asp-antiforgery="true" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>